body
{
    background-color: black;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    padding-top: 40px;
    scroll-behavior: smooth;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.bebas,
.lan{
    font-family: "Bebas Neue", sans-serif;
}
  
.ellipse1
{
    background-color: #71269ca6;
    border-radius: 198px / 179px;
    filter: blur(260px);
    height: 358px;
    right: 1237px;
    position: absolute;
    top: -301px;
    width: 396px;
}
.ecllipse2
{
    background-color: #71269ca6;
    border-radius: 198px / 179px;
    filter: blur(260px);
    height: 358px;
    left: 1120px;
    position: absolute;
    top: 381px;
    width: 396px;
}
.ecllipse3
{
    background-color: #71269ca6;
    border-radius: 198px / 179px;
    filter: blur(260px);
    height: 358px;
    right: 1120px;
    position: absolute;
    top: 1081px;
    width: 396px;
    
}
.ecllipse4
{
    background-color: #71269ca6;
    border-radius: 198px / 179px;
    filter: blur(260px);
    height: 358px;
    left: 1120px;
    position: absolute;
    top: 1781px;
    width: 396px;
    z-index: 2;
}
.ecllipse5
{
    background-color: #71269ca6;
    border-radius: 198px / 179px;
    filter: blur(260px);
    height: 358px;
    left: 1120px;
    position: absolute;
    top: 3200px;
    width: 396px;
    z-index: 2;
}
.ecllipse6
{
    background-color: #71269ca6;
    border-radius: 198px / 179px;
    filter: blur(260px);
    height: 358px;
    right: 1120px;
    position: absolute;
    top: 4081px;
    width: 396px;
}
.nav
{
    top:0;
    display: flex;
    width: 100%;
    height: 100px;
    line-height: 100px;
    justify-content: space-around;
    position: fixed;
    z-index: 9999;
    
    
}

.nav .logo img
{
    height: 100px;
    margin-top: 16px;
    margin-right: 10px;
    
}
.nav-menu ul
{
    display: flex;
    list-style: none;
    margin-right: 5px;
    overflow: hidden;
    width: 534px;
    height: 46px;
    background-color: rgba(255, 163, 249, 0.176);
    margin-top: 40px;
    border-radius: 30px;  
    border: 1px solid white;  
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 2px 2px#71269ca6;
}

.nav-menu ul li
{
    margin-top: -28px;
}
.nav-menu ul li .link
{
    text-decoration: none;
    color: white;
    padding-bottom: 15px;
    margin: 0 30px;
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    transition: all .2s ease-in-out;
}
.link:hover
{
    scale: 1.05;
}

.sparkle{
    height: 24px;
    left: 1300px;
    position: absolute;
    top: 208px;
    width: 24px;
}
.headcontent
{
    width: fit-content;
    height: 600px;
    margin-top: 140px;
}
.header
{
    color: white;
    float: right;
    margin-top: 70px;
    margin-right: 100px;
    font-size: 30px;
    letter-spacing: 2px;
    display: flex;
}
.header span
{
    color: #D181FF;
}
.header h1
{
    font-size: 48px;
    padding-left: 700px;

}
.desc
{
    color: white;
    margin-left: 700px;
    font-size: 16px;
    padding-right: 100px;
    letter-spacing: 1px;

}
.nav .mail
{
    color: white;
    padding-top: 15px;
    font-size: 12px;
    background-color: transparent;
    
}
.nav .mailimg
{
    margin-top: 20px;
    margin-right: -190px;
}
.nav .mailimg :hover
{
    cursor: pointer;
    scale: 1.09;
    box-shadow: 0px 0px 4px 2px#71269ca6;

}
.img img
{
    margin-top: -380px;
}
.icons 
{
    display: flex;
    flex-direction: row;
    
    margin-left: 930px;
    margin-top: -60px;
}
.i2 img
{
    width:30px;
    height: 30px;
    margin-left: 20px;
}
.i3 img
{
    margin-left: 20px;
    margin-top: 3px;
}
.tools h2
{
    color: white;
}
.tools p
{
    color: white;
    margin-left: -130px;
    letter-spacing: 2px;
}
.tools
{
    margin-top: 100px;
    margin-left: 400px;
    z-index: 1;
}
.languages h2 
{
    color: white;
}
.languages p
{
    color: white;
    text-align: center;
    padding-right: 200px;
}
.languages
{
    margin-left: 1000px;
    margin-top: -50px;
}
.btn button
{
    background: linear-gradient(180deg, #ca6fff 0%, rgba(113, 38, 156, 1) 46.249961853027344%);
    right: -326px;
    border-radius: 50px;
    height: 54px;
    color: white;
    font-size: 12px;
    width: 223px;
    border: none;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: .2s ease-in, .4s ease-out   ;
}
.btn
{
    margin-left: 700px;
    margin-top: -45px;
}
.btn button:hover
{
    border: 4px solid #ca6fff;
    background: rgba(0, 0, 0, 0.142);
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px#71269ca6;

   
}
.subcontent
{
    width: fit-content;
    height: 400px;
}
.subcontent .profiles p
{
    color:white;
    align-items: center;
    margin-left: 710px;
    font-size: 24px;
    margin-top: 37px;
}
.subcontent .profiles 
{
    width: 604px;
    height: 109px;
    
}
.subcontent .profiles .icons
{
    justify-content: space-around;
    width: 604px;
    height: 65px;
    margin-left: 460px;
    margin-top: 60px;
    cursor: pointer;
    transform: rotateY('300deg');
}
.profiles .icons img:hover
{
    scale: 1.1;
    
}
.subcontent .profiles .descprof
{
    color: white;
    width: 488px;
    height: 34px;
    margin-left: 500px;
    margin-right: 500px;
    padding-left: 100px;
}
.subcontent .profiles .descprof p
{
    font-size: 14px;
    text-align: center;
    margin-left: -200px;
    letter-spacing: 2px;
}
.subcontent .tools
{
    width: 388px;
    height: 197px;
}
.subcontent .tools p
{   
    font-size: 24px;

}
.subcontent .tools .desctool p
{
    font-size: 14px;
    text-align: center;
    width: 300px;
  
    margin-left: -250px;

}

.subcontent .tools .icons2
{
    justify-content: space-around;
    width: 500px;
    height: 65px;
    margin-left: -320px;
    margin-top: 50px;
    display: flex;
    margin-bottom: 35px;
}
.midline img
{
    margin-left: 725px;
    margin-top: 60px;
    padding-top: 80px;
}
.midline2 img
{
    margin-left: 725px;
    
    padding-top: 80px;
}
.languages p
{
    font-size: 24px;
    margin-top: -197px;
    padding-bottom: 30px;
    
}
.languages
{
    width: 500px;
    height: 194px;
}
.languages .icons3
{
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 65px;
    margin-left: -90px;
}
.languages .desclan p
{
    color: white;
    font-size: 14px;
    padding-top: 230px;
    padding-right: 30px;
    margin-right: 120px;
    letter-spacing: 1.8x;
    
}
.projects .top
{
    color: white;
    text-align: center;
}
.projects .top p
{
    font-size: 24px;
    margin-top: 50px;
    margin-right: 40px;
}
.projects .top .topdesc p
{
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 30px;
}
.boxes{
    display:flex;
    align-items: center;
}
.boxes .box{
   
    /* background-color: azure; */
    width: 24%;
    height:300px;
    margin-right: 60px;
    padding-left: 20px;
    margin-top: 20px;
    padding-bottom: -90px;
    border-radius: 30px;
    
}
.boxes .box img
{
    width: 400px;
    height: 270px;
    border-radius: 20px;
    transition: transform 0.3 ease;
}
.boxes .box img:hover
{
    transform: scale(1.06);
}
.bigbox
{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 900px;
    
    background-image: linear-gradient(180deg, #2d3436 0%, #000000 34%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.bigbox .bb
{
    width: 36%;
    height: 815px;
    margin-left: 100px;
    margin-top: 60px;
}
.midline3
{
    padding-top: 1840px;
    padding-left: 730px;
}
.iot 
{
    width: 1251px;
    height: 768px;
    margin-left: 100px;
}
.iot .topiot
{
    height: 80px;
    width: 395px;
   
    margin-left: 450px;
}
.iot .topiot p
{
    color: white;
    font-size: 24px;
    margin-left: 145px;
}
.iot .topiot .iotdesc p
{
    color: white;
    width: 460px;
    font-size: 14px;
    text-align: center;
    margin-left: -27px;
    letter-spacing: 2px;

}
.iot .project1
{
    width: 1251px;
    height: 400px;
    margin-top: 90px;
}
.iot .project2
{
    width: 1251px;
    height: 400px;
    margin-top: 4px;
}
.pro1img
{
    width: 508px;
    height: 300px;
    background-color: #101010;
    border-radius: 30px;
    margin-left: 70px;
    box-shadow: -2px -4px 4px 2px#71269ca6;
}
.mine{
    font-size: 24px;
}
.pro1img img
{
    width: 440px;
    height: 245px;
    margin-top: 25px;
    margin-left: 28px;
    border-radius: 30px;
}
.pro1desc
{
    color: white;
    width: 430px;
    height: 200px;
    float: right;
    margin-top: -250px;
    margin-right: 100px;

}
.pro1desc p
{
    letter-spacing: 2px;
    line-height: 23px;
}
.rocket
{
    float: right;
    margin-top: -228px;
    margin-right: 300px;
}
.pro2desc
{
    color: white;
    width: 430px;
    height: 200px;
    float: right;
    float: left;
    margin-left: 150px;
    margin-top: -270px;
}
.pro2img
{
    width: 500px;
    height: 310px;
    border-radius: 30px;
    background-color: #101010; 
    margin-left: 710px; 
    box-shadow: 2px -4px 4px 2px#71269ca6; 
}
.pro2img img
{
    width: 440px;
    height: 245px;
    margin-top: 30px;
    margin-left: 28px;
    border-radius: 30px;
}
.pro2desc p
{
    letter-spacing: 2px;
    line-height: 23px;
}
.sewage
{
    font-size: 24px;
}
.rocket2
{
    margin-left: 500px;
    margin-bottom: -100px;
}
.midline4
{
    margin-top: 200px;
    margin-left: 730px
}
.software
{
    width: 1251px;
    height: 768px;
    margin-left: 100px;
}
.software .topsoft
{
    height: 80px;
    width: 395px;
   
    margin-left: 450px;
}
.software .topsoft p
{
    color: white;
    font-size: 24px;
    margin-left: 125px;
}
.software .topsoft .softdesc p
{
    color: white;
    width: 460px;
    font-size: 14px;
    text-align: center;
    margin-left: -27px;
    letter-spacing: 2px;

}
.software .sproject1
{
    width: 1251px;
    height: 400px;
    margin-top: 90px;
}
.software .sproject2
{
    width: 1251px;
    height: 400px;
    margin-top: 4px;
}
.spro1img
{
    width: 508px;
    height: 300px;
    background-color: #101010;
    border-radius: 30px;
    margin-left: 70px;
    box-shadow: -2px -4px 4px 2px#71269ca6;
}

.spro1img img
{
    width: 440px;
    height: 245px;
    margin-top: 25px;
    margin-left: 28px;
    border-radius: 30px;
}
.spro1desc
{
    color: white;
    width: 430px;
    height: 200px;
    float: right;
    margin-top: -250px;
    margin-right: 100px;

}
.spro1desc p
{
    letter-spacing: 2px;
    line-height: 23px;
}
.spro2img
{
    width: 500px;
    height: 310px;
    border-radius: 30px;
    background-color: #101010; 
    margin-left: 710px; 
    box-shadow: 2px -4px 4px 2px#71269ca6; 
}
.spro2desc
{
    color: white;
    width: 430px;
    height: 200px;
    float: right;
    float: left;
    margin-left: 150px;
    margin-top: -270px;
}

.spro2img img
{
    width: 440px;
    height: 245px;
    margin-top: 30px;
    margin-left: 28px;
    border-radius: 30px;
}
.spro2desc p
{
    letter-spacing: 2px;
    line-height: 23px;
}

hr
{
    margin-top: 250px;
    width:1245px;    
}
.ai ,.music 
{
    font-size: 24px;
}
.python
{
    margin-left: 990px;
    margin-bottom: -105px;
}
.java
{
    margin-left: 380px;
    margin-bottom: -90px;
}
.foot
{   
    width: 1245px;
    height: 71px;
    color: white;


}
.foot p
{
    margin-left: 600px;
    margin-top: 40px;
    letter-spacing: 2px;
    font-size: 12px;
}
.iconsf
{
    display: flex;
    justify-content: space-around;
    width: 193px;
    height: 30px;
    float: left;
    
    margin-top: -80px;
}
/* Customize scrollbar track */
::-webkit-scrollbar {
    width: 5px;
}

/* Customize scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #706f6f;
    border-radius: 5px;
}

/* Customize scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
